/.vs
/NeutroniumCore/.vs
/NeutroniumCore/bin
/NeutroniumCore/obj
/NeutroniumLoader/bin
/NeutroniumLoader/obj
/NeutroniumApi.CodeGen/bin
/NeutroniumApi.CodeGen/obj
/NeutroniumApi.Interfaces/obj
/NeutroniumApi.MergeLib/bin
/NeutroniumApi.MergeLib/Generated
/NeutroniumApi.MergeLib/obj
/NeutroniumApi.Interfaces/bin
/NeutroniumApi.MergeLib.Tests/bin
/NeutroniumApi.MergeLib.Tests/obj
/docfx/api
/site
/Neutronium.SDK/bin
/Neutronium.SDK/obj
/packages
